# Compiled Object files
*~
*.sln
*.vcxproj*
*.vcproj*
*.db
*.exe
*.lib
*.a
*.so
*.dll
.*
.#*
*.ilk
*.obj
*.pdb
*.exp
*.log
*.bin
*.man
*.zip
*.7z
*.pptx
*.doc
dist
\#*
tmp
output/*
stage/*
*build*
!build/*.bat
binary/*/
binary/*
!.gitignore
!.travis.yml
!*.sh
!*.github
!.babelrc
!*.ts
!*.vue
*node_modules*
GTAGS
GPATH
GRTAGS
lib
package-lock.json
depends/